header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-700);
  color: white;
  padding: 1rem;

  svg {
    height: 24px;
    width: 24px;
  }

  h2 {
    margin-left: 0.5rem;
    font-weight: 300;
  }
}